
.zoom{
    width: 100%;
    height: auto;
    overflow:visible
}
.zoom img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}
.zoom:hover img{
    transform: scale(1.1);
}