.zoom {
  width: 100%;
  height: auto;
  overflow: visible;
  margin-top: 4%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}
.zoom img {
  height: 150px;
  width: 90%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
.zoom:hover img {
  transform: scale(1.1);
}

.headings {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 4% 0 0 0;
}
.dividers {
  height: 1rem;
  margin-top: 4%;
  background-color: #ececec;
  font-size: xl;
  font-weight: 800;
}
.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #757575;
}

.homeTopBox {
  height: 36rem;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
    url("https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popOverButton {
  border-radius: 5px 0 0 5px;
  height: 100%;
  background-color: whitesmoke;
  font-size: 20px;
  padding-bottom: 5%;
}

.popOverInput {
  font-size: 15px;
  width: 100%;
  border-radius: 0 5px 5px 0;
  height: 100%;
  background-color: whitesmoke;
  outline: none;
}

.homeSearchBar {
  width: 100%;
  border-radius: 0 5px 5px 0;
  height: 100%;
  background-color: whitesmoke;
}

.searchResultBox {
  border: 1px solid whitesmoke;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 200px;
  overflow: auto;
  margin-left: 30%;
  margin-top: 1%;
  border-radius:5px;
  border-top: none;
  background-color: whitesmoke;
  text-align: left;
  padding:3% ;
  /* display: none; */
}
.suggestions{
  padding: 2%;
  border-radius: 5px;
  margin-bottom: 2%;
  cursor: pointer;
}
